//--------------------------------------------------------------
// Variables
//--------------------------------------------------------------

// Colors
$color-white:        #fff;
$color-site-bg:      #fff;
$color-font:         #000000;
$color-link:         #000;
$color-link-visited: $color-link;
$color-link-hover:   #333;

// Fonts
$font-sans:  Nexa Light, sans-serif;
$font-sans-bold: Nexa Bold, sans-serif;
$font-serif: Georgia, Times, "Times New Roman", serif;
$font-mono:  "Courier 10 Pitch", Courier, monospace;

@font-face {
  font-family: 'Nexa Bold';
  src: url('fonts/NexaBold.eot');
  src: url('fonts/NexaBold.woff') format('woff'), url('fonts/NexaBold.ttf') format('truetype'), url('fonts/NexaBold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa Light';
  src: url('fonts/NexaLight.eot');
  src: url('fonts/NexaLight.woff') format('woff'), url('fonts/NexaLight.ttf') format('truetype'), url('fonts/NexaLight.svg') format('svg');
  font-weight: light;
  font-style: normal;
}
